<h1 class="mb-4">Portfolio</h1>

<button
  class="btn btn-sm mb-3 {{if selectedTags.length "btn-light" "btn-primary"}} cursor-pointer"
  onclick={{action selectAll}}
>
  All
</button>

{{#each tags as |tag|}}
  <button
    class="btn btn-sm mb-3 {{if tag.selected "btn-primary" "btn-light"}} cursor-pointer"
    onclick={{action toggleTagSelected tag}}
  >
    {{tag.name}}
  </button>
{{/each}}

<div class="row">
  {{#each filteredProjects as |item|}}
    {{project-preview project=item class="col-md-6 col-lg-4 mb-3"}}
  {{/each}}
</div>
