<div class="row">
  <div class="col-lg-4">
    <h1 class="mb-3">{{model.name}}</h1>

    <dl class="row">
      <dt class="col-sm-3">Type</dt>
      <dd class="col-sm-9">{{model.type}}</dd>

      <dt class="col-sm-3">Year</dt>
      <dd class="col-sm-9">{{date-year model.createdAt}}</dd>

      {{#if model.url}}
        <dt class="col-sm-3">Link</dt>
        <dd class="col-sm-9">
          <a href={{model.url}} target="_blank" rel="noopener">{{model.url}}</a>
        </dd>
      {{/if}}

      {{#if model.client}}
        <dt class="col-sm-3">Customer</dt>
        <dd class="col-sm-9">
          {{#if model.clientUrl}}
            <a href={{model.clientUrl}} target="_blank" rel="noopener">
              {{if
                model.client
                model.client
                model.clientUrl
              }}
            </a>
          {{else}}
            {{model.client}}
          {{/if}}
        </dd>
      {{/if}}
    </dl>

    {{model.safetyHtml}}
  </div>

  <div class="col-lg-8">
    {{#photo-swipe
      items=model.screenshots
      class="mb-3 position-relative border"
      history=false
      shareEl=false
    as |photoswipe|
    }}
      <img
        src={{model.screenshots.firstObject.src}}
        class="img-fluid cursor-zoom-in"
        role="button"
        onclick={{action photoswipe.actions.open}}
        alt="Screenshot"
      >
      {{mdi-icon
        "magnify-plus-outline"
        size=30
        class="zoom-in"
        click=(action photoswipe.actions.open)
      }}
    {{/photo-swipe}}
  </div>
</div>
