<div class="mb-2">
  {{#link-to "projects.project" project}}
    <img src={{project.attributes.logo}} alt={{project.attributes.name}} class="img-fluid border">
  {{/link-to}}
</div>

<div class="row align-items-end mb-3">
  <div class="col-3 text-secondary small">{{project.attributes.type}}</div>
  <div class="col text-center">
    {{#link-to "projects.project" project}}
      <div class="h3 mb-0">{{project.attributes.name}}</div>
    {{/link-to}}
  </div>
  <div class="col-3 text-right text-secondary small">{{date-year project.attributes.createdAt}}</div>
</div>
