<div class="mb-2">
  {{#link-to "projects.project" project}}
    <img src={{project.logo}} alt={{project.name}} class="img-fluid border">
  {{/link-to}}
</div>

<div class="row align-items-end mb-3">
  <div class="col-3 text-secondary small">{{project.type}}</div>
  <div class="col text-center">
    {{#link-to "projects.project" project}}
      <h4 class="mb-0">{{project.name}}</h4>
    {{/link-to}}
  </div>
  <div class="col-3 text-right text-secondary small">{{format-date project.createdAt "yyyy"}}</div>
</div>
