<div class={{@class}}>
  <div class="mb-2">
    {{#link-to "projects.project" @project}}
      <picture>
        <source srcset="{{@project.attributes.logo}}.webp" type="image/webp">
        <source srcset={{@project.attributes.logo}} type="image/jpeg">
        <img src={{@project.attributes.logo}} alt={{@project.attributes.name}} class="img-responsive border" loading="lazy">
      </picture>
    {{/link-to}}
  </div>

  <div class="columns align-items-end mb-3">
    <div class="column col-3 text-secondary small">{{@project.attributes.type}}</div>
    <div class="col text-center">
      {{#link-to "projects.project" @project}}
        <div class="h3 mb-0">{{@project.attributes.name}}</div>
      {{/link-to}}
    </div>
    <div class="column col-3 text-right text-secondary small">{{date-year @project.attributes.createdAt}}</div>
  </div>
</div>
